<div class="empanadas">
    <section class="empTradicionales">
        <h2>Empanadas Tradicionales</h2>       
        <ul class="lisEmp">
            <% tradicionales.forEach(empanada => { %>
                <li><%= empanada.sabor %></li>
            <% }) %>
        </ul>
    </section><br>

    <section class="empCanastitas">
        <h2>Empanadas abiertas tipo canastitas</h2>
        <ul class="lisEmp">
            <% canastitas.forEach(empanada => { %>
                <li><%= empanada.sabor %></li>
            <% }) %>
        </ul>
    </section><br>

    <section class="empPremium">
        <h2>Empanadas premium</h2>
        <ul class="lisEmp">
            <% premium.forEach(empanada => { %>
                <li><%= empanada.sabor %></li>
            <% }) %>
        </ul>
    </section><br>
</div>