<footer>
    <div class="footerAddress">
        <h1>Av. Gaona 1355</h1>
        <h2>Caballito - CABA</h2>
    </div>

    <div class="payment">
        <h3>Medios de pago</h3>
        <h3>Efectivo</h3>
        <div class="iconPayment">
            <i class="fas fa-money-bill-wave"></i>
        </div>
    </div>

    <div class="footerLegend">
        <h3>ABIERTO TODAS LAS NOCHES</h3>
        <H3>INCLUSIVE FERIADOS</H3>
    </div>
</footer>