<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Hilacha</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/viewsEmpanadas.css">
    <link rel="stylesheet" href="/css/viewsPizzas.css">
    <link rel="stylesheet" href="/css/viewsFormDatos.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/viewsSeleccionProductos.css">
    <!-- CSS -->

    <!-- Tipografías -->
    <!-- Merriweather Serif -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <!-- Merriweather Serif -->

    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <!-- Tipografías -->

    <script src="https://kit.fontawesome.com/bfa858fa89.js" crossorigin="anonymous"></script>

</head>