<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <div class="burgerMenu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="contButton">
            <a href="/"><button class="button">Home</button></a>
            <a href="/pizzas"><button class="button">Pizzas</button></a>
            <a href="/formDatos"><button class="button">Pedí</button></a>
        </div>

        <%- include('./partials/empSection.ejs') %>

    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>