<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <%- include('./partials/menu.ejs', { activePage: 'home' }) %>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
    <script src="/js/menu.js"></script>
</html>