footer {
    background: linear-gradient(to top, var(--rojo), transparent);
    color: var(--blanco);
    font-family: 'Merriweather', serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    width: 100%;
}

.footerAddress {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    flex-flow: column;
    align-items: center;
    font-size: 12px;
}

.payment {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    flex-flow: column;
    align-items: center;
}

.iconPayment {
    font-size: 26px;
    color: var(--blanco);
}

.footerLegend {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    flex-flow: column;
    align-items: center;
}

@media (min-width: 425px) {
    footer {
        margin-top: auto;
    }

    .footerAddress {
        font-size: 20px;
    }

    .footerLegend {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    footer {
        flex-flow: row;
    }

    .footerAddress {
        width: 30%;
        font-size: 16px;
    }

    .payment {
        width: 30%;
    }

    .footerLegend {
        width: 30%;
    }
}