.pizzas {
    width: 100%;
    font-size: 22px;
    border: 2px solid var(--verde);
    outline: 5px solid var(--transpVerde);
    border-radius: 8px;
    background: var(--transpNegro);
    padding: 2px;
}

.pizzas li {
    list-style: none;
    color: var(--blanco);
}

.pizzasEternas {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 8px 0;
    font-size: 20px;
}

.pizzasClasicas {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
}

.pizzasTradicionales {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
}

.pizzasEspeciales {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8px;
    font-size: 20px;
}

.pizzaTamañoPrecio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin: 8px 0px;
}

.pizzaTamañoPrecio h3 {
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: var(--blanco);
    text-align: center;
    margin-bottom: 5px;
}

.pizzaTamañoPrecio h4 {
    color: var(--verde);
    grid-row: 2 / 3;
    text-align: center;
}

.pizzaTamañoPrecio h5 {
    color: var(--rojo);
    grid-row: 3 / 4;
    text-align: center;
}

@media (min-width: 768px) {

    .pizzas {
        width: 70%;
        grid-template-columns: 1fr 1fr;
        margin: 25px auto
    }

    .pizzaTamañoPrecio {
        width: 50%;
    }
}