.formDatos {
    border: 2px solid var(--verde);
    outline: 5px solid var(--transpVerde);
    border-radius: 8px;
    background: var(--transpNegro);
    width: 90%;
    margin: auto;
}

.formDatos form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 25px auto;
}

.name {
    margin: 10px 0;
    text-align: center;
}

.name input {
    width: 90%;
    height: 30px;
}

.phone {
    margin: 10px 0;
    text-align: center;
}

.phone input {
    width: 90%;
    height: 30px;
}

.address {
    margin: 10px 0;
    text-align: center;
}

.address input {
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
}

.message {
    margin: 10px 0;
    text-align: center;
}

.message textarea {
    width: 90%;
}

.buttonConfirmPedido {
    margin: 10px 0;
    text-align: center;
}

.textDangerError {
    text-align: center;
    color: var(--rojo);
}

.formDatos input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--verde);
    border-radius: 10px;
}

.formDatos textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--verde);
    border-radius: 10px;
}

@media (min-width: 425px) {
    .formDatos {
        margin: 30px auto;
    }

    .formDatos form {
        width: 90%;
    }

    .name {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .name label {
        margin-right: 10px;
    }

    .name input {
        width: 50%;
    }

    .phone {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .phone label {
        margin-right: 10px;
    }

    .phone input {
        width: 50%;
    }

    .address {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .address label {
        margin-right: 10px;
    }

    .address input {
        width: 50%;
    }

    .addressInputs {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .message {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .message label {
        margin-right: 10px;
    }

    .message textarea {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .formDatos {
        width: 70%;
        margin: 30px auto;
    }

    .formDatos form {
        width: 90%;
    }

    .buttonConfirmPedido {
        grid-column: 1 / 3;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
