.pedido {
    width: 100%;
    font-size: 22px;
    border: 2px solid var(--verde);
    outline: 5px solid var(--transpVerde);
    border-radius: 8px;
    background: var(--transpNegro);
    padding: 2px;
}

.selecEmpanadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.selecEmpanadas li {
    list-style: none;
    color: var(--blanco);
}

.titleForm {
    display: flex;
    align-items: center;
    color: var(--blanco);
    gap: 25px;
}

.menu {
    display: none;
}

.menu.show {
    display: block;
}

.selecEmpanadaCategoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.selecEmpanadaCategoria h3 {
    text-align: center;
}

.empanadaItem {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.quantity {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.increase, .decrease {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--verde);
    color: var(--blanco);
}

.increase:active, .decrease:active {
    background-color: var(--rojo);
}

.selecPizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.selecPizzas li {
    list-style: none;
    color: var(--blanco);
}

.selecPizzas h3 {
    text-align: center;
}

.pizzaItem {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Para Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    appearance: textfield;
}