.empanadas {
    width: 100%;
    font-size: 22px;
    border: 2px solid var(--verde);
    outline: 5px solid var(--transpVerde);
    border-radius: 8px;
    background: var(--transpNegro);
    padding: 2px;
}

.empanadas li {
    list-style: none;
    color: var(--blanco);
}

.empTradicionales {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    margin: 8px 0;
    font-size: 18px;
}

.empCanastitas {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8px;
    font-size: 18px;
}

.empPremium {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    margin-bottom: 8px;
    font-size: 18px;
}

.precio {
    color: var(--rojo);
    margin: 5px 0;
}

@media (max-width: 424px) {
    section h2 {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .empanadas {
        width: 70%;
        margin: 25px auto;
    }

    .empanadas h2 {
        text-align: center;
    }

    .empTradicionales {
        font-size: 20px;
    }

    .empPremium {
        font-size: 20px;
    }

    .empCanastitas {
        font-size: 20px;
    }
}